.project-card-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    border-radius: 8px;
    overflow: auto;
    text-align: right;
    padding: 0px 0px 0px 20px;
}
.card-new-project {
    box-sizing: border-box;
    width: 300px;
    min-height: 130px;
    box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.15);
    margin: 15px 30px 25px 0px ;
    padding: 15px;
    display: inline-block;
    flex-direction: row;
    border-radius: 8px;
    text-align: center;
}
.card-new-project h4, .card-new-project h3 {
    text-align: center;
    font-weight: 650;
}
.card-new-project h3 {
    font-size: 140px;
    margin: -10px 0px -25px 0px;

}

.card-new-project:hover {
    background-color: #c0d6df;
    /* color: white !important; */
    cursor: pointer;
}